{% extends 'base.html.twig' %}

{% block title %}Edit CommandeEntity{% endblock %}

{% block body %}
    <h1>Edit CommandeEntity</h1>

    {{ include('commande_entity/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_commande_index') }}">back to list</a>

    {{ include('commande_entity/_delete_form.html.twig') }}
{% endblock %}
